body {
  font-family: "Noto Serif", serif;
}
.weather-app-wrapper {
  background: #c3d6de;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 3px solid #875df7;
  border-radius: 10px;
}
.coding-info {
  margin: 0 auto;
  max-width: 600px;
}
.current-temperature {
  font-size: 35px;
}
.degrees {
  position: relative;
  top: -13px;
}
#description {
  text-transform: capitalize;
}
.fahrenheit-link {
  color: black;
  cursor: default;
  text-decoration: none;
}
.fahrenheit-link:hover {
  text-decoration: none;
}
.weather-forecast {
  text-align: center;
}
